<br>
<h1 style="color: Black">Choose a color</h1>
<form>
    <select ng-model="productColor">
        <option value="Black">Black</option>
        <option value="Ivory">Ivory</option>
        <option value="Midnight">Midnight</option>
        <option value="Navy">Navy</option>
        <option value="Nude">Nude</option>
        <option value="White">White</option>
        <option value="Blush">Blush</option>
        <option value="Pastel Pink">Pastel Pink</option>
        <option value="Army Green">Army Green</option>
    </select>
    <br><br>
    <input type="submit" id="sub1">
</form>
<br>
<div ng-repeat="o in products track by $index">
    {{o}}
</div>
